{% extends "base_hub.html" %}

{% block content %}
    <h1>Economoc Map</h1>

          {% load static %} 

    <IMG SRC="{% static 'images/hex_economy2.png'%}" ALT="mil_icon" WIDTH=600 HEIGHT=500> 

          <a href="{% url 'military' %}">
          <IMG SRC="{% static 'images/buttons_mil.png'%}" ALT="mil_icon" WIDTH=60 HEIGHT=60> </a>
          <li><a href="{% url 'military' %}">Military Map</a></li>

          <a href="{% url 'player' %}">
          <IMG SRC="{% static 'images/buttons_ply.png'%}" ALT="mil_icon" WIDTH=60 HEIGHT=60> </a>
          <li><a href="{% url 'player' %}">Player Map</a></li>
 
{% endblock %}
