{% extends "base_hub.html" %}

{% block content %}


<h1>AI Hub for Dual Universe</h1>

  <p>Welcome to the <em>AI Hub</em>,This site is under construction!
  We aim to provide various open source software to facilitate the power of AI in Dual Universe.
  Current Projects include:
   - An interactive management tool for organizations.</p>
          {% load static %} 
          

          <IMG SRC="{% static 'images/AI_logo.png'%}" ALT="logo_icon" WIDTH=270 HEIGHT=370>
<h2>Dynamic content</h2>

<p>Here are some test links:</p>
<ul>
<li><strong>More than just a game: </strong> <a href="https://www.dualthegame.com/">Dual Universe</a></li>
<li><strong>Dev Sources:</strong> <a href="https://github.com/CyberCrunch"> GitHub</a> </li>
<li><strong>Rest JSON API Interface:</strong> <a href="RestAPI"> Rest API</a></li>
<li><strong>Test Tutorial for reference:</strong> <a href="catalog"> Demo Library Website</a></li>
</ul>


{% endblock %}