{% extends "base_job.html" %}

{% block content %}

<h1>List of running Operations</h1>

  <p>Welcome to the ODY <em>Member Board</em>. This is a first demonstration for 
  the future organization management platform.</p>

<h2>Dynamic content</h2>

<p>The following operations are currently being run in Objective Driveyards:</p>
<ul>
<li><strong>Operations:</strong> {{ num_jobs }}</li>
<li><strong>Tasks:</strong> {{ num_jinstances }}</li>
<li><strong>Tasks filled:</strong> {{ num_jinstances_filled }}</li>
<li><strong>Participatns:</strong> {{ num_employees }}</li>
</ul>

<h1>Job List</h1>

List not working... Workaround: <a href="list">go to job-list</a>
    {% if jobboard %}
    <ul>
<li><strong>Employees:</strong> {{ num_employees }}</li>

      {% for job in jobboard %}
      <li>
        <a href="{{ job.get_absolute_url }}">{{ job.title }}</a> ({{job.summary}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no jobs in the list.</p>
    {% endif %}       
    
{% endblock %}